.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.viettablet.com/images/news/62/mang-xa-hoi-la-gi-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .title_login{
        text-align: center;
    }
    .register{
        font-size: 13px;
        text-align: end;
        width: 100%;
    }
}