button:hover {
    cursor: pointer;
}
.wrapper {
    

    .post {
        border-top: 1px solid #9c9393;
        height: fit-content;
        width: 100%;
        margin-bottom: 20px;
    }
}
.btn_upl_stt {
    height: 100%;
    width: 20%;
    align-content: center;
    text-align: right;
    padding-right: 15px;
    .btn_turn_off_post {
        height: 20px;
        width: 20px;
        font-size: 30px;
        margin-bottom: 50px;
        border-radius: 50%;
        background-color: #ffffff00;
        border: #9c939300;
        color: #a1a1a2;
        padding: 0 30px;
    }

    .btn_upload {
        height: 40px;
        width: 70%;
        border-radius: 10px;
        background-color: #fff;
        border-color: #9c9393;
        box-shadow: 0 0 2px;
    }

    .btn_upload:hover{
        background-color: #333;
        color: #fff;
    }
}

.des_startus {
    height: 100%;
    width: 60%;
    align-content: center;
    input {
        width: 100%;
        height: 30px;
        border: 0;
    }
    input:focus {
        outline: none;
    }
    .wr_inp_img {
        width: 100%;
        display: flex;
        label {
            color: #9c9393;
            font-size: 20px;
            display: inline-block;
            cursor: pointer;

            .img_icon {
                margin-left: -20px;
                cursor: pointer;
            }
        }

        .inp_img {
            opacity: 0;
            width: 20px;
            cursor: pointer;
            height: 20px;
        }
    }
}

.wr_startus {
    width: 100%;
    height: 100px;
    display: flex;
    .img_startus {
        height: 100%;
        width: 20%;
        align-content: center;
        text-align: center;
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid #9c9393;
        }
    }
}


.info_render {
    width: 100%;
    height: 100px;
    padding: 0 20px;
}

.wr_btn_up {
    width: 100%;
    padding: 20px 20px;
    text-align: right;
    .up_post {
        height: 40px;
        width: 80px;
        border-radius: 10px;
        background-color: #fff;
    }
}

// ------------------------------------post-------------------------------------
